<html>
    <head>
        <title>
            <%= title %>
        </title> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="<%= assetPath('images/facebook.png') %>" type="image/png"> 
        <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">
        <link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
        <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">
        
        <%- style %>
    </head>
    <body>
        <%- include ('_header'); %>   
        
        <main id="main-layout">
            <%- body %>
        </main>

        <%- include ('_footer'); %>

        <%- script %>

        <script>
            <% if(flash.success && flash.success.length >0){ %>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.success %>",
                    type: 'success',
                    timeout: 1000,
                    layout: 'topRight',
                    progressBar: false,
                }).show();

            <% } %>  
            
            <% if(flash.error && flash.error.length >0){ %>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.error %>",
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1000
                }).show();

            <% } %>
            <% if(flash.info && flash.info.length >0){ %>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.info %>",
                    type: 'info',
                    layout: 'topRight',
                    timeout: 1000
                }).show();

            <% } %>
            <% if(flash.alert && flash.alert.length >0){ %>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.alert %>",
                    type: 'alert',
                    layout: 'topRight',
                    timeout: 1000
                }).show();

            <% } %>
        </script>
    </body>
</html>